* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 80px;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: gainsboro;
  border-bottom: 1px solid gray;
}

.nav-fixed {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-link {
  font-size: 18px;
  padding: 0 6px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.gl-logo {
  display: inline-block;
}

.gl-logo h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.search-section {
  margin-bottom: 30px;
}

form {
  display: block;
  margin-top: 0em;
}

.search-section input {
  width: 400px;
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding-left: 10px;
  margin-top: 25px;
}

.search-section button {
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 17px;
  background-color: white;
  vertical-align: bottom;
}

.magnifying-glass-icon {
  height: 100%;
}

.pages {
  border: 1px solid gainsboro;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
}

.pages-button {
  font-size: 16px;
  padding: 10px 20px;
  display: inline-block;
}

.pages-range {
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  font-size: 16px;
  padding: 0 30px;
  padding: 10px 20px;
}

.job-listings {
  padding: 0;
}

.listing {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.listing-date {
  margin-right: 10px;
}

.listing-title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.listing-location{
  margin-right: 10px;
}

.listing-date, .listing-location {
  color: gray;
}
